*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --intorange: #ff4f00;
  --silvergrey: #c0c0c0;
  --lightgrey: #d7d7d7;
  --wildsand: #f5f5f5;

  --sourcesan: "Source Sans Pro", sans-serif;
  --spacegrostesk: "Space Grotesk", sans-serif;
}

.hidden {
  display: none;
  visibility: hidden;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

body {
  font-family: var(--sourcesan);
  background-color: var(--lightgrey);
  position: relative;
  color: var(--wildsand);
  text-align: left;
  overflow-x: hidden;
}
body a,
body a:visited {
  color: #efefef;
  text-decoration: none;
}
body a:hover {
  color: #fff;
}

img {
  width: 100%;
  display: block;
}

video {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.pad-b0 {
  padding-bottom: 0 !important;
}

.black-bg {
  background-color: #000;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}
.loader__element {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 100px;
  height: 100px;
  transform: scaleX(0) scaleY(0);
  transform-origin: center center;
  background: var(--lightgrey);
}
.loader__element:first-of-type {
  background: var(--lightgrey);
}

.landing {
  width: 100vw;
  height: 100vh;
  background-color: var(--silvergrey);
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.landing .quote {
  position: absolute;
  left: 30px;
}

.landing .quote p {
  font-size: 3rem;
  font-family: var(--spacegrostesk);
  line-height: 3.2rem;
  max-width: 70vw;
}

.landing .bubble {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.landing .bubble img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

/* .slick-cloned {
  visibility: hidden;
} */

.caption,
.slick-slide::before,
.slick-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  text-align: left;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 40px;
}

header img {
  width: 100%;
}

/* header h1 {
  font-size: 22px;
  font-weight: bold;
} */
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin: 0;
  padding: 0;
}
header nav ul li a {
  display: block;
  /* color: var(--wildsand);
  font-weight: bold; */
  width: 40px;
}
/* header nav ul li a svg {
  width: 100%;
  display: block;
  fill: var(--wildsand);
  transition: all 0.4s;
} */

/* header nav ul li a svg:hover {
  fill: var(--intorange);
} */

/* ------------------*/
/* NAV - ABOUT PAGE */
/* ------------------*/
/* .nav-about {
  border-bottom: 2px solid black;
} */
.nav-about h1 {
  color: black;
}
/* .nav-about svg {
  fill: var(--intorange);
  transform: rotate(90deg);
}
.nav-about svg:hover {
  fill: black;
} */

/* ------------------*/
/* SLICK SLIDER */
/* ------------------*/
.main-slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 8vw;
  margin-bottom: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
  overflow-y: scroll;
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
/*
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 1;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}
*/

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* CAPTION */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.caption {
  font-family: var(--sourcesan);
  /* position: absolute;
  left: 0;
  top: 50%; */
  width: 100%;
  text-align: left;
  padding: 0 30px;
  color: white;
  margin: 0;
  opacity: 1;
  z-index: 2;
  letter-spacing: 0.02em;
  transition: all 0.3s ease;
}

.caption-head img {
  width: 200px;
}

.caption-info {
  text-align: justify;
  padding: 0 0 2rem 0;
  font-size: 12px;
  line-height: 18px;
}

.caption-info h1 {
  font-family: var(--spacegrostesk);
  text-align: left;
  font-size: 19px;
  margin: 0.6rem 0;
}

.caption-indicator {
  position: relative;
  font-family: var(--spacegrostesk);
}

.caption-pagination {
  position: absolute;
  /* margin: 1em 0; */
  width: 100%;
  bottom: 0;
  z-index: 999;
  text-align: right;
}

.caption .go-prev {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  padding: 5px 0 5px 10px;
  margin: 0;
  vertical-align: middle;
  transition: all 0.2s;
}

.caption .go-prev:hover {
  color: var(--intorange);
  font-size: 14px;
}

.caption .go-divider {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.caption .go-next {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 10px 5px 0;
  margin: 0;
  vertical-align: middle;
  transition: all 0.2s;
}

.caption .go-next:hover {
  color: var(--intorange);
  font-size: 14px;
}

.slick-prev {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 999;
  height: 80%;
  width: 25%;
  opacity: 0.4;
  display: none !important;
}

.slick-next {
  color: white;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 999;
  height: 80%;
  width: 25%;
  opacity: 0.4;
  display: none !important;
}

/* .slick-dots {
  text-align: left;
  padding-top: 15px;
  position: absolute;
  width: 100vw;
  bottom: 1%;
  padding: 20px;
  left: 0%;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border: none;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
} */

@-webkit-keyframes moveIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  from {
    filter: blur(15px);
    /* opacity: 0; */
  }
  to {
    filter: blur(0);
    /* opacity: 1; */
  }
}

@keyframes slideIn {
  from {
    filter: blur(15px);
    /* opacity: 0; */
  }
  to {
    filter: blur(0);
    /* opacity: 1; */
  }
}
@-webkit-keyframes slideOut {
  from {
    filter: blur(0);
    /* opacity: 1; */
  }
  to {
    filter: blur(15px);
    /* opacity: 0; */
  }
}
@keyframes slideOut {
  from {
    filter: blur(0);
    /* opacity: 1; */
  }
  to {
    filter: blur(15px);
    /* opacity: 0; */
  }
}

/* .apng {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
} */

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* ABOUT PAGE */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
.container {
  max-width: 1440px;
  margin: 0 auto;
  color: #000;
  background-color: var(--lightgrey);
  padding: 1rem;
}

.container p {
  margin-bottom: 1rem;
}

.container .row {
  margin-bottom: 1.4rem;
}

.about {
  font-family: var(--spacegrostesk);
  padding-top: 4rem;
  -webkit-animation: moveIn 1s;
  animation: moveIn 0.6s;
}

.about a {
  color: black;
}

.about a:hover {
  color: var(--intorange);
}

.about p {
  font-size: 1.1rem;
}

.about h2 {
  font-size: 3rem;
  line-height: 3.6rem;
  font-family: var(--spacegrostesk);
  font-weight: 600;
  color: var(--intorange);
}

.about h4 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-family: var(--spacegrostesk);
  font-weight: 400;
  color: var(--intorange);
}

.about-link {
  color: var(--intorange) !important;
}

.about-link:hover {
  text-decoration: underline;
}

.office .col {
  margin-bottom: 1rem;
}

.profile .img-holder {
  width: 100%;
}

.profile .img-holder .img-slide {
  width: 100%;
}

.about .office {
  margin-top: 4rem;
}

.about .office .video-holder {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 0.4rem;
}

.about .office .video-holder iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social {
  display: flex;
  text-align: center;
  margin: 30px auto;
  max-width: 240px;
}

.social .col {
  margin: 5px;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* MEDIA QUERY */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
@media screen and (min-width: 688px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    padding: 0 60px;
  }

  .container .row {
    display: flex;
    margin-bottom: 0rem;
  }

  .container .col {
    flex: 1;
    padding: 1rem;
  }

  .main-slider {
    overflow-y: hidden;
  }

  .landing .quote {
    left: 60px;
  }

  .landing .quote p {
    font-size: 6rem;
    line-height: 7rem;
  }

  .landing video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
  }

  .caption {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 2%;
    width: 100vw;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 0 60px;
  }

  .caption-head img {
    width: 200px;
  }

  .caption-logo-xl img {
    width: 300px;
  }

  .caption .caption-head {
    flex: 1;
    align-self: flex-end;
    padding-bottom: 0.2rem;
  }

  .caption .caption-content {
    display: flex;
    flex: 1;
    padding: 10px 10px 15px 50px;
  }

  .caption .caption-info {
    flex: 6;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }

  .caption .caption-info .info {
    width: 95%;
  }

  .caption .caption-indicator {
    flex: 1;
    align-self: flex-end;
  }

  /* .slick-dots {
    text-align: left;
    padding-top: 15px;
    position: absolute;
    width: 100vw;
    bottom: 2%;
    padding: 20px;
    left: 5%;
  } */

  .slick-slide {
    position: relative;
    height: 100vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .slick-slide::before {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 40%
    );
    opacity: 1;
    z-index: 1;
    bottom: 0;
  }

  .about .office {
    margin-top: 6rem;
  }

  .about .profile .col:first-child,
  .about .services .col:first-child {
    padding-right: 4vw;
  }
}
