*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --intorange: #ff4f00;
  --silvergrey: #c0c0c0;
  --wildsand: #f5f5f5;

  --sourcesan: "Source Sans Pro", sans-serif;
  --spacegrostesk: "Space Grotesk", sans-serif;
}

.hidden {
  display: none;
  visibility: hidden;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

body {
  font-family: var(--sourcesan);
  background-color: var(--silvergrey);
  position: relative;
  color: var(--wildsand);
  text-align: left;
  overflow-x: hidden;
}
body a,
body a:visited {
  color: #efefef;
  text-decoration: none;
}
body a:hover {
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  color: #444;
  background-color: var(--silvergrey);
}

.container .content {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.container p {
  margin-bottom: 40px;
}

.col {
  flex: 1;
}

.col img {
  width: 100%;
  display: block;
}

video {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.bold {
  font-weight: 900;
}

.mar-b20 {
  margin-bottom: 20px;
}
.mar-b30 {
  margin-bottom: 30px;
}
.mar-b60 {
  margin-bottom: 60px;
}

.black-bg {
  background-color: #000;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}
.loader__element {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 100px;
  height: 100px;
  transform: scaleX(0) scaleY(0);
  transform-origin: center center;
  background: var(--silvergrey);
}
.loader__element:first-of-type {
  background: var(--silvergrey);
}

.landing {
  width: 100vw;
  height: 100vh;
  background-color: var(--silvergrey);
  color: black;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.landing .quote {
  position: absolute;
  left: 5%;
}

.landing .quote p {
  font-size: 10vw;
  font-family: var(--spacegrostesk);
  margin: 20px 0;
  line-height: 12vw;
}

.landing video {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  height: 100%;
}

.landing .bubble {
  width: 100%;
  height: 100%;
}

.bubble picture img {
  width: 100%;
}

.caption,
.slick-slide::before,
.slick-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  text-align: left;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 40px;
}

header img {
  width: 100%;
}

/* header h1 {
  font-size: 22px;
  font-weight: bold;
} */
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin: 0;
  padding: 0;
}
header nav ul li a {
  display: block;
  color: var(--wildsand);
  font-weight: bold;
  width: 50px;
}
/* header nav ul li a svg {
  width: 100%;
  display: block;
  fill: var(--wildsand);
  transition: all 0.4s;
} */

/* header nav ul li a svg:hover {
  fill: var(--intorange);
} */

/* ------------------*/
/* NAV - ABOUT PAGE */
/* ------------------*/
/* .nav-about {
  border-bottom: 2px solid black;
} */
.nav-about h1 {
  color: black;
}
/* .nav-about svg {
  fill: var(--intorange);
  transform: rotate(90deg);
}
.nav-about svg:hover {
  fill: black;
} */

/* ------------------*/
/* SLICK SLIDER */
/* ------------------*/
.main-slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 8vw;
  margin-bottom: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.2s ease;
  background-color: var(--silvergrey);
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}
.slick-slide {
  position: relative;
  height: 100vh;
}
.slick-slide::before {
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
  background-color: #000;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 1;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
  animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  transform: translateY(10%);
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  font-family: var(--spacegrostesk);
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: left;
  padding: 1rem;
  color: white;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.2rem;
  opacity: 1;
  z-index: 2;
  letter-spacing: 0.02em;
  transition: all 0.3s ease;
}

.caption-head {
  font-size: 1.4rem;
}

.caption-head h1 {
  margin: 1rem 0;
}

.caption-head img {
  width: 100px;
}

.caption-1 img {
  width: 70px;
}

.caption-info {
  margin: 1rem 0;
}

.caption-info h2 {
  font-size: 1.4rem;
  margin: 0.6rem 0;
}

.caption-info p {
  margin: 0.6rem 0;
}

.caption .caption-indicator i {
  font-size: 0.6em;
}

/* .slick-dots {
  text-align: left;
  padding-top: 15px;
  position: absolute;
  width: 100vw;
  bottom: 1%;
  padding: 20px;
  left: 0%;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border: none;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
} */

@-webkit-keyframes slideIn {
  from {
    filter: blur(15px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    filter: blur(15px);
  }
  to {
    filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(15px);
  }
}

/* .apng {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
} */

.slick-prev {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 999;
  height: 80%;
  width: 25%;
  opacity: 0;
}

.slick-next {
  color: white;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 999;
  height: 80%;
  width: 25%;
  opacity: 0;
}

.about {
  font-family: var(--sourcesan);
  padding-top: 6rem;
}

.about p {
  font-size: 1em;
}

.about h2 {
  font-size: 3rem;
  font-family: var(--spacegrostesk);
  font-weight: 500;
  color: var(--intorange);
}

.about-link {
  color: var(--intorange) !important;
}

.about-link:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  text-align: center;
  margin: 30px auto;
  max-width: 160px;
}

.social .col {
  margin: 5px;
}

@media screen and (min-width: 688px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .container .row {
    display: flex;
  }

  .container .col {
    flex: 1;
    padding: 1rem;
  }

  .container .flexmore {
    flex: 2;
  }

  .landing .quote p {
    font-size: 5rem;
    line-height: 5rem;
  }

  .caption {
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 90vw;
    font-size: 0.9rem;
    line-height: 1.2rem;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }

  .caption .caption-head {
    flex: 1;
  }

  .caption .caption-info {
    flex: 1;
    column-count: 2;
    align-self: flex-end;
  }

  .caption .caption-indicator {
    align-self: flex-end;
    padding: 0 0 0 3rem;
  }

  /* .slick-dots {
    text-align: left;
    padding-top: 15px;
    position: absolute;
    width: 100vw;
    bottom: 2%;
    padding: 20px;
    left: 5%;
  } */
}
